<div class="container mt-3">
    {{#if messages}}
        {{#each messages}}
            <div>
                <p style="color: brown">
                    <b style="color: blue">
                        {{authorEmail}}
                    </b>: {{date}}
                    <i style="color: green">
                        {{text}}
                    </i>
                </p>
            </div>
        {{/each}}
    {{else}}
        <h2 class="p-3" style="color: crimson; background-color: pink;">No data exists</h2>
    {{/if}}
</div>