<!DOCTYPE html>
<html lang="en">
{{> header-clean}}
<body class="bg-dark">
    <div class="container mt-3">
        <div class="rounded mb-3 pt-2 pb-1 pl-4 pr-4 bg-light bg-gradient text-center">
            <h2 class="mb-3 mt-3" style="color: green">Date in which the factory was created:</h2>
            <h2 class="mb-3 mt-3" style="color: blue">{{factoryDate}}</h2>
        </div>
        <div class='text-center'>
            <button
                class='btn btn-secondary my-3'
                onclick="location.href = '/login'"
            >Go to Login</button>
        </div>
    </div>
</body>
{{> footer}}