<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h2 style="color: blue">Sample products using Faker's fake data</h2>
            <br>
            {{> table}}
        </div>
    </div>
</body>
{{> footer}}